.header-bg{
    background-color: #fceae8;
}
.category{
    padding: 10px 30px;
}
.categories img{
        width: 100px;
        transition: transform 1s ease-in-out;
}
.categories img:hover{
    transform: scale(1.3);
}
.watch-bg{
    background-color: orange;
}
.bag-bg{
    background-color: orchid;

}
.shoe-bg{
    background-color: blue;
}
.btn-bg{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    
}